.title {
  margin: auto;
  width: 96%;
}

h1 {
  text-align: center;
}

body {
    /* background-image: url('purplesky.webp'); /* Replace 'image.jpg' with your image file path */
    /* background-size: cover; /* Cover the entire viewport */
    /* background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Prevent the image from repeating */ 
    background-color: whitesmoke;
  }
  
  #infoclick {
    background-color: transparent;
  }

  .gradient-text {
    font-size: 48px;
    background-image: linear-gradient(to right, #ff0000, #00ff00, #0000ff); /* Gradient colors */
    -webkit-background-clip: text; /* Apply the gradient to the text */
    -webkit-text-fill-color: transparent; /* Set text color to transparent to show the gradient */
  }

.chart_properties {
  width: 80%;
  margin:auto;

}

#plot {
  margin-bottom: 25px;
}

#button {
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  border: transparent;
}