button {
  border:none;
}
#btn {
  width: 50px;
  height: 80%;
  
}

.title {
 
  width: 80vw;
  max-width: 1500px;
  margin:auto;
}

.title h1 {
  text-align: center;
}

body {
    /* background-image: url('purplesky.webp'); /* Replace 'image.jpg' with your image file path */
    /* background-size: cover; /* Cover the entire viewport */
    /* background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Prevent the image from repeating */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .new {
    color:darkblue;
    font-size: 50px;
  }

  .chart_properties {
    width: 80vw;
    max-width:1500px;
    margin:auto;
  
  }

#cubeCanvas {
  width: 100%;
  color: whitesmoke;
  margin:20px auto;
  padding: auto;
  min-height: 400px;
}

#cube-container canvas#cubeCanvas {
  width: 100%;
  margin: 0 auto;
  padding:0;
  background:whitesmoke;
}

#plot {
  margin-bottom: 25px;
}

#button {
  height: 150px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0;
}
img { 
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  border: transparent
}