.title {
  margin: auto;
  width: 96%;
}

h1 {
  text-align: center;
}

body {
    /* background-image: url('purplesky.webp'); /* Replace 'image.jpg' with your image file path */
    /* background-size: cover; /* Cover the entire viewport */
    /* background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Prevent the image from repeating */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  #infoclick {
    background-color: transparent;
  }

  .gradient-text {
    font-size: 48px;
    background-image: linear-gradient(to right, #ff0000, #00ff00, #0000ff); /* Gradient colors */
    -webkit-background-clip: text; /* Apply the gradient to the text */
    -webkit-text-fill-color: transparent; /* Set text color to transparent to show the gradient */
  }

.chart_properties {
  width: 75%;
  margin:20px auto;
  padding: auto;
  min-height: 400px;
}

#cubeCanvas {
  width: 100%;
  color: whitesmoke;
  margin:20px auto;
  padding: auto;
  min-height: 400px;
}

#cube-container canvas#cubeCanvas {
  width: 100%;
  margin: 0 auto;
  padding:0;
  background:whitesmoke;
}

#plot {
  margin-bottom: 10px;
}

#button {
  height: 150px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0;
}
img { 
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  border: transparent
}