#map {
    margin:auto;
  height: 700px;
  width: 96%;
  box-shadow: 0 0 10px red;
			animation: glow 2s infinite;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
    100% {
        box-shadow: 0 0 10px red;
    }
}

hr {
    border: 3px solid lightgray;
}

.container {
    
    width: 96%;
    height: 350px;
    background-color: #e9ecef;
    text-align: center;
    margin:auto;
    /* this is the space between the jumbotron and the map */
    margin-bottom:15px; 
    font-family: 'Calibri Light';
}

#main {
    padding-top: 20px;
    font-size: 50px;
    /* change the distance from the div to the top of the page */
    margin-top:10px; 
    margin-bottom:0px;
}


.container > p {
    font-size: 20px;
    padding:0px;
    margin:0px;
}



.container > button {
   
}

button {

    
    /* border: blue 5px solid;
    background-color: blue;
    color:white;
    border-radius: 25px;
    font-size: 30px;
    padding: 5px; */
}


body {
    background-color: whitesmoke;
}

.gradient-text {
    font-size: 48px;
    background-image: linear-gradient(to right, #001aff, #ff5e00c4, #0000ff); /* Gradient colors */
    -webkit-background-clip: text; /* Apply the gradient to the text */
    -webkit-text-fill-color: transparent; /* Set text color to transparent to show the gradient */
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  

  /* Style the image */
  img {
    
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

